@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
	margin:0;
	padding: 0;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
	margin: 0;
    padding: 0;
    overflow: hidden;
}

@keyframes game-over-anim {
    from {
      opacity: 0.0;
    }
    to {
      opacity: 1.0;
    }
}

.ui {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
}

.game-over-layout {
    opacity: 0.0;
    display: none;
}

.game-over-layout.active {
    opacity: 1.0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
    flex-direction: column;
}

.game-restart-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
    background: #00000000;
    text-shadow: 3px 3px black;
    border: none;
}

.game-over-text {
    font-size: 70px;
    color: white;
    text-shadow: 8px 8px black;
    margin-bottom: 10px;
}


.score-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.score-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    text-shadow: 3px 3px black;
}

.record-score-text{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-shadow: 3px 3px black;
}

.sound{
    width: 50px;
    height: 50px;
     background-image: url('img/Soundless.png');
    background-color:#00000000;
    border: 0;
    background-size: cover;
    margin-top: 20px;
    margin-left: 20px;
}

.sound.active{
    background-image: url('img/Sound.png');
}

@media (max-width: 800px) {
    .game-restart-text{
        font-size: 15px;
        text-shadow: 2px 2px black;
    }
    .game-over-text {
        font-size: 40px;
        text-shadow: 6px 6px black;
        margin-bottom: 10px;
    }

    .score-text {
        font-size: 15px;
        margin-right: 15px;
        text-shadow: 3px 3px black;
    }

    .record-score-text{
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
        text-shadow: 3px 3px black;
    }


    .sound{
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-left: 15px;
    }
}
